.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
.prettierrc.json
package-lock.json
**/*.map
**/*.ts
typings/**
.history/**
**/*.vsix
